* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
}

.dark-theme {
    background: hsl(0, 0%, 27%);
    color: hsl(0, 0%, 93%);
}

h1 {
    font-size: 26px;
    font-weight: 700;
    color: hsl(0, 0%, 93%);
    font-family: 'Courier New', Courier, monospace;
    @media (min-width: 768px) {
        font-size: 34px;
    }
}

.hero-bg-light {
    background: url(./assets/bg-mobile-light.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    z-index: -3;
    @media (min-width: 768px) {
        background: url(./assets/bg-desktop-light.jpg) no-repeat;
    }
}

.hero-bg-dark {
    background: url(./assets/bg-mobile-dark.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    z-index: -3;
    @media (min-width: 768px) {
        background: url(./assets/bg-desktop-dark.jpg) no-repeat;
    }
}

.page-content {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 0 20px;
    background: inherit;
    @media (min-width: 768px) {
        top: 80px;
        padding: 0 100px;
    }
}

.loading {
    text-align: center;
    font-size: 24px;
}

.task {
    box-shadow: 2px 2px 25px gray;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
    height: 150px;
    width: 280px;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        select {
            background: hsl(235, 71%, 54%);
            color: hsl(0, 0%, 100%);
            border: none;
            border-radius: 4px;
            outline: none;
            padding: 4px 8px;
            &:hover {
                background: hsl(235, 77%, 47%);
            }
        }
    }
    p {
        margin-top: 8px;
        word-wrap: break-word;
    }
}

.task-list {
    .page-header {
        display: flex;
        justify-content: space-between;
        .toggle-btn {
            width: 32px;
            height: 32px;
            transition: ease-in-out 300ms;
            &:hover {
                box-shadow: 2px 2px 16px hsl(0, 0%, 60%);
            }
        }
    }
    form {
        padding: 12px;
        display: flex;
        flex-flow: column;
        gap: 12px;
        input, select {
            border: none;
            outline: none;
            border-radius: 8px;
            padding: 12px;
            transition: ease-in-out 300ms;
            &:invalid {
                border: 1px solid red;
            }
            &:valid {
                border: 1px solid lime;
            }
        }
        button {
            width: 100px;
            padding: 8px 12px;
            border: none;
            border-radius: 8px;
            background: hsl(125, 77%, 47%);
            color: #eee;
            margin-top: 12px;
            transition: ease-in-out 300ms;
            &:hover {
                background: hsl(127, 71%, 54%);
            }
            &:disabled {
                background: hsl(0, 0%, 60%);
            }
        }
    }
    h3 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 8px;
    }
}

.task-lists {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
    button {
        display: inline-block;
        padding: 8px 12px;
        margin-top: 12px;
        border: none;
        border-radius: 8px;
        background: hsl(12, 77%, 47%);
        color: #eee;
        margin-top: 12px;
        transition: ease-in-out 300ms;
        &:hover {
            background: hsl(13, 71%, 54%);
        }
        &:disabled {
            background: hsl(0, 0%, 60%);
        }
    }
}

@media (min-width: 768px) {
    .task-lists {
        flex-flow: row;
        justify-content: space-between;
    }
}